* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, san-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
}

.logo a {
    color: #ff4500;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.login-button a {
    background-color: #ff4500;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

/* Media query for screens smaller than 400px */
@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        align-items: center;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    .login-button {
        width: 100%;
        max-width: 400px;
        margin-top: 10px;
        text-align: center;
    }

    .login-button a {
        width: 100%;
        padding: 10px 0;
    }
}
