body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0ad8ef;
}

.road{
    width: 100%;
    height: 200px;
    background-color: #333;
    position: relative;
    overflow: hidden;
}

.car{
    width: 50px;
    height: 30px;
    background-color: #ff6347;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 5px;
    /* animation-name: movecar;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */

    animation: movecar 2s linear infinite;
}

.wheel{
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
}

.front-wheel{
    left: 5px;
}

.back-wheel{
    right: 5px;
}

@keyframes movecar{
    0%{
        left: 0;
    }

    100%{
        left: 100%;
    }
}