div{
    height: 200px;
    width: 200px;
    background-color: red;
    animation-name: new;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}

div:hover{
    animation-name: new;
    animation-duration: 4s;
}

@keyframes new{
    0%{
        border-radius: 50%;
        background-color: aqua;
    }

    to{
        background-color: blue;
    }
    
    50%{
        height: 1000px;
        width: 1000px;
        background-color: greenyellow;
    }

    100%{
        height: 200px;
        width: 200px;
        background-color: chocolate;
    }
}
